/* CSS for toggle checkboxes */
.switch-button {
    position: absolute;
    width: 50px;
    height: 31px;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
}


.switch-button[checked] {
    background-color: #2196F3;
}

.switch-button:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    margin: 0px 5px;
    left: 0px;
    top: 3px;
    transition: .4s;
}

.switch-button[checked]:before {
    /*right: 0px;
    left: unset;*/
    transform: translateX(15px);
    transition: .4s;
}