include assets/button.css
include assets/alerts.pug 

button#test_button.btn.threeD.page_button(onclick="Alert('critical','TEST')" style="background-color: red;") test
button#test_button.btn.threeD.page_button(onclick="Alert('warning','TEST')" style="background-color: orange;") test
button#test_button.btn.threeD.page_button(onclick="Alert('info','TEST')" style="background-color: skyblue;") test
button#test_button.btn.threeD.page_button(onclick="Alert('success','TEST')" style="background-color: green;") test