html
    head
        style
            include assets/default.css
            include assets/button.css
            include assets/settings.css
        include assets/alerts.pug 

    body

        include includes/eren_back.pug

        div#upper_bar
            a#email(href="/settings/account") #{user}
        
        div#vert_bar
            a#account(href="/settings/account") account
            a#sharex(href="/settings/sharex") sharex
            a#uploads(href="/settings/uploads") uploads
            if admin
                a#create_signup(href="/settings/create_signup") create signup
            a#logout(href="/api/logout") logout
            a#version(href="https://github.com/LevitatingBusinessMan/Eren" target="_blank") V#{version}

        div#content
            if setting == "account"
                span#settings_title ACCOUNT
                include includes/settings/account
            else if setting == "sharex"
                span#settings_title SHAREX
                include includes/settings/sharex
            else if setting == "uploads"
                span#settings_title UPLOADS
                include includes/settings/uploads
            else if setting == "create_signup"
                span#settings_title CREATE SIGNUP
                include includes/settings/create_signup

            else
                div#Home
                    span#welcome Welcome
                    span#username #{user.split("@")[0].split(".").map(x => x[0].toUpperCase() + x.substring(1)).join(" ")}
                    //Ukwnown settings page
                    if setting
                        span#error I could not find the page you were looking for
                div#a.cog
                    include assets/cog.svg
                div#b.cog
                    include assets/cog.svg
                div#c.cog
                    include assets/cog.svg
                div#d.cog
                    include assets/cog.svg
                div#e.cog
                    include assets/cog.svg
            
                style.
                    div#content {
                        overflow: hidden;
                    }
