html
    head
        link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css")
        script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js")
        style body{height:100%;margin:0px;} code{height:100%;}
    body
        pre
            code=text
        script hljs.initHighlightingOnLoad();
