module.exports = {
    "domain": "example.com",
    "ssl": true,
    "force_ssl": false,
    "keys": ["pass"],
    "key_specifics": require(path.join(__dirname, "./keys.json")),
    "port": 8080,
    "services": {
        "image": true,
        "text": true,
        "url": true
    },
    "prefix": {
        "image": "image",
        "text": "code",
        "url": "url"
    }
}