module.exports = {
    "domain": "example.com",
    "ssl": true,
    "admin": {email: "rein@reinfernhout.xyz", pass:"admin"},
    "force_ssl": false,
    "db": "Eren", // Name of Rethink database
    "port": 443,
    "services": {
        "image": true,
        "text": true,
        "url": true
    },
    "prefix": {
        "image": "image",
        "text": "code",
        "url": "url"
    }
}