module.exports = {
    "domain": "example.com",
    "protocol": "http",
    "keys": ["pass"],
    "port": 443,
    "services": {
        "image": true,
        "code": true,
        "urls": true
    }
}